<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <package android:name="fr.neamar.kiss" />
        <package android:name="com.adw.launcher" />
        <package android:name="com.anddoes.launcher" />
        <package android:name="com.android.launcher3" />
        <package android:name="com.asus.launcher" />
        <package android:name="com.bbk.launcher2" />
        <package android:name="com.heytap.launcher" />
        <package android:name="com.hihonor.android.launcher" />
        <package android:name="com.htc.launcher" />
        <package android:name="com.huawei.android.launcher" />
        <package android:name="com.i.miui.launcher" />
        <package android:name="com.lge.launcher" />
        <package android:name="com.lge.launcher2" />
        <package android:name="com.mi.android.globallauncher" />
        <package android:name="com.miui.home" />
        <package android:name="com.miui.miuilite" />
        <package android:name="com.miui.miuihome" />
        <package android:name="com.miui.miuihome2" />
        <package android:name="com.miui.mihome" />
        <package android:name="com.miui.mihome2" />
        <package android:name="com.oplus.launcher" />
        <package android:name="com.oppo.launcher" />
        <package android:name="com.quaap.launchtime" />
        <package android:name="com.quaap.launchtime_official" />
        <package android:name="com.sec.android.app.easylauncher" />
        <package android:name="com.sec.android.app.launcher" />
        <package android:name="com.sonymobile.home" />
        <package android:name="com.sonyericsson.home" />
        <package android:name="com.teslacoilsw.launcher" />
        <package android:name="com.transsion.XOSLauncher" />
        <package android:name="com.transsion.hilauncher" />
        <package android:name="com.transsion.itel.launcher" />
        <package android:name="com.vivo.launcher" />
        <package android:name="com.yandex.launcher" />
        <package android:name="com.zte.mifavor.launcher" />
        <package android:name="com.zui.launcher" />
        <package android:name="me.everything.launcher" />
        <package android:name="net.oneplus.launcher" />
        <package android:name="org.adw.launcher" />
        <package android:name="org.adwfreak.launcher" />

        <intent>
            <action android:name="android.intent.action.BADGE_COUNT_UPDATE" />
        </intent>
        <intent>
            <action android:name="android.intent.action.APPLICATION_MESSAGE_UPDATE" />
        </intent>
        <intent>
            <action android:name="com.oppo.unsettledevent" />
        </intent>
        <intent>
            <action android:name="launcher.action.CHANGE_APPLICATION_NOTIFICATION_NUM" />
        </intent>
    </queries>

    <!--for android-->
    <!--<uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>-->
    <!--<uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS"/>-->
    <!--<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />-->
    <!--<uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />-->


    <!--for Samsung-->
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ"/>
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE"/>

    <!--for htc-->
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT"/>

    <!--for sony-->
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE"/>
    <uses-permission android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE"/>

    <!--for apex-->
    <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT"/>

    <!--for solid-->
    <uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE"/>

    <!--for huawei-->
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="com.hihonor.android.launcher.permission.CHANGE_BADGE"/>
    <uses-permission android:name="com.hihonor.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.hihonor.android.launcher.permission.WRITE_SETTINGS"/>

    <!--for ZUK-->
    <uses-permission android:name="android.permission.READ_APP_BADGE"/>

    <!--for OPPO-->
    <uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.oppo.launcher.permission.WRITE_SETTINGS"/>

    <!--for VIVO-->
    <uses-permission android:name="com.vivo.notification.permission.BADGE_ICON"/>

    <!--for EvMe-->
    <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_READ"/>
    <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_WRITE"/>
</manifest>
